<!-- START SECTION TEAM -->
<section class="team_wrap" data-parallax="scroll" id="team">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-12 offset-lg-2">
        <div class="title_dark">
          <h2>Our Team</h2>
        </div>
      </div>
    </div>
    <div class="row small_space justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30">
        <div class="team_box">
          <div class="team_img text-center"><img alt="team1" id="12" src="assets/images/sunny.jpg"/>
            <div class="social_team list_none">
              <ul>
<!--
                <li><a href="https://linkedin.com/" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
-->
              </ul>
            </div>
          </div>
          <div class="team_info gradient_box text-center">
            <h4>Sunny Kakkad</h4>
            <p>Product Manager</p>
            <p>Product Planner</p>
            <p><br></p>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30">
        <div class="team_box">
          <div class="team_img text-center"><img alt="team2" id="13" src="assets/images/cormac.jpg"/>
            <div class="social_team list_none">
              <ul>
<!--
                <li><a href="https://linkedin.com/" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
-->
              </ul>
            </div>
          </div>
          <div class="team_info gradient_box text-center">
            <h4>Cormac O'Brien</h4>
            <p>Systems Programmer</p>
            <p>Communication Manager</p>
            <p><br></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 res_xs_mb_30">
        <div class="team_box">
          <div class="team_img text-center"><img alt="team3" id="14" src="assets/images/veer.jpg"/>
            <div class="social_team list_none">
              <ul>
<!--
                <li><a href="https://linkedin.com/" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
-->
              </ul>
            </div>
          </div>
          <div class="team_info gradient_box text-center">
            <h4>Veer Panchal</h4>
            <p>Implementation Manager</p>
            <p>Testing Manager</p>
            <p><br></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row small_space justify-content-center">
      <div class="col-lg-9 col-md-12">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="team_box">
              <div class="team_img text-center"><img alt="team4" id="15" src="assets/images/blake.jpg"/>
                <div class="social_team list_none">
                  <ul>
<!--
                    <li><a href="https://linkedin.com/" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
-->
                  </ul>
                </div>
              </div>
              <div class="team_info gradient_box text-center">
                <h4>Blake Laymon</h4>
                <p>System Designer</p>
                <p>Documentation Manager</p>
                <p>Security Manager</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 res_md_mb_30">
            <div class="team_box">
              <div class="team_img text-center"><img alt="team5" id="16" src="assets/images/alex.jpg"/>
                <div class="social_team list_none">
                  <ul>
<!--
                    <li><a href="https://linkedin.com/" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
-->
                  </ul>
                </div>
              </div>
              <div class="team_info gradient_box text-center">
                <h4>Aleksandra Hejnar</h4>
                <p>Presentation Manager</p>
                <p>Requirements Manager</p>
                <p><br></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 res_md_mb_30">
            <div class="team_box">
              <div class="team_img text-center"><img alt="team6" id="17" src="assets/images/jamal.jpg"/>
                <div class="social_team list_none">
                  <ul>
<!--
                    <li><a href="https://linkedin.com/" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
-->
                  </ul>
                </div>
              </div>
              <div class="team_info gradient_box text-center">
                <h4>Jamal Syed</h4>
                <p>Web Master</p>
                <p>Interface Developer</p>
                <p><br></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END SECTION TEAM -->
