<!-- START HEADER -->
<header class="header_wrap fixed-top">
  <div class="container-fluid" id="home">
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-brand page-scroll" routerLink="/home" routerLinkActive="">
        <a href="#"><img class="logo_light" src="assets/images/panda_logo.jpg" id="1" alt="company-name"/></a>
      </div>
      <div class="menu_bar">
        <div class="bt-menu"><span></span><span></span><span></span></div>
      </div>
      <div id="menu_mobile" class="navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="/app">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="/about-us">Team</a>
          </li>
<!--
          <li class="nav-item">
            <button mat-raised-button class="col-sm-1" (click)="onLogIn()">Log In</button>
          </li>
-->
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- END HEADER -->
