<!-- START SECTION STORYBOARD -->
<section id="storyboard" class="section_storyboard">
  <div class="container">
    <div class="row">
    <div class="col-lg-2 col-md-6 col-sm-6">
      <input [(ngModel)]="team_1" id="Team_1" type="text" placeholder="Team 1"/>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6">
      <input [(ngModel)]="team_2" id="Team_2" type="text" placeholder="Team 2"/>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <input [(ngModel)]="team_1_score" id="Team_1_Score" type="text" placeholder="Team 1 Score"/>
    </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
      <input [(ngModel)]="team_2_score" id="Team_2_Score" type="text" placeholder="Team 2 Score"/>
    </div>
      <button type="submit" (click)="submit()" >Submit</button>
    </div>

    Added: {{response|json}}

    <div id="present_result">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover font-weight-light">
      <thead>
      <tr class="pg-color-main">
        <th>Match #</th>
      <!--  <th>Team 1</th>
        <th>Team 1 Score</th>
        <th>Team 2 Score</th>
        <th>Team 2</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of matches">
        <td>
          <a>{{(row|json)}}</a>
        </td>
       <!-- <td>
          <a [queryParams]= "{address: row?.team1}"
             title="{{row?.team1}}">{{row?.team1}}</a>
        </td>
        <td>{{row?.transactions.length}}</td>
        <td><a [queryParams]="{team1core: row?.team1Score}"
               title="{{row?.team1Score}}">{{row?.team1Score}}</a></td>
        <td><a [queryParams]="{team2core: row?.team1Score}"
               title="{{row?.team2Score}}">{{row?.team1Score}}</a></td>
        <td>{{row?.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</section>
<!-- END SECTION STORYBOARD -->
