<!-- START SECTION STORYBOARD -->
<section id="storyboard" class="section_storyboard">
  <div class="container">
    <div class="row">
    <div class="col-lg-2 col-md-6 col-sm-6">
      <input [(ngModel)]="team_1" id="Team_1" type="text" placeholder="Team 1"/>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6">
      <input [(ngModel)]="team_2" id="Team_2" type="text" placeholder="Team 2"/>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <input [(ngModel)]="team_1_score" id="Team_1_Score" type="text" placeholder="Team 1 Score"/>
    </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
      <input [(ngModel)]="team_2_score" id="Team_2_Score" type="text" placeholder="Team 2 Score"/>
    </div>
      <button type= "submit" (click)="submit()" >Submit</button>
    </div>

    <div id="present_result">
    </div>
  </div>
  <div class="row">
  <div class="table-responsive col-md-12 justify-content-center pg-card-body p-3">
    <table class="table table-hover font-weight-light">
      <thead>
      <tr class="pg-color-main">
        <th>Match #</th>
        <th>Team 1</th>
        <th>Team 1 Score</th>
        <th>Team 2 Score</th>
        <th>Team 2</th>
        <th>Modify</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of matches">
        <td>
          <p>{{(row?.matchID)}}</p>
        </td>
        <td>
          <p>{{(row?.team1)}}</p>
        </td>
        <td>
          <p>{{(row?.team1Score)}}</p>
        </td>
        <td>
          <p>{{(row?.team2Score)}}</p>
        </td>
        <td>
          <p>{{(row?.team2)}}</p>
        </td>
        <td>
          <button (click)="removeSelected(row?.matchID)" > Delete </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
  </div>
</section>
<!-- END SECTION STORYBOARD -->
