<!-- START SECTION STORYBOARD -->
<section id="storyboard" class="section_storyboard">
  <div class="container">
    <div class="row">
    <div class="col-lg-2 col-md-6 col-sm-6">
      <input [(ngModel)]="team_1" id="Team_1" type="text" placeholder="Team 1"/>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6">
      <input [(ngModel)]="team_2" id="Team_2" type="text" placeholder="Team 2"/>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <input [(ngModel)]="team_1_score" id="Team_1_Score" type="text" placeholder="Team 1 Score"/>
    </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
      <input [(ngModel)]="team_2_score" id="Team_2_Score" type="text" placeholder="Team 2 Score"/>
    </div>
      <button type="submit" (click)="submit()" >Submit</button>
    </div>

    <p>{{response.toString()}}</p>

    <div id="present_result">
    </div>
  </div>
</section>
<!-- END SECTION STORYBOARD -->
