<!-- START SECTION BANNER -->
<section id="home" class="banner_section section_light_bg mt-5">
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-first text_md_center">
        <div class="banner_text">
          <h1><span>Panda</span> Development</h1>
          <p>Our databases are crud but our development ain't!</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 order-first">
        <div class="banner_image_right res_md_mb_50 res_xs_mb_30">
          <img src="assets/images/panda_coffee_home.jpg"  id="5" alt="panda dev"/>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END SECTION BANNER -->
