@import '../../../../assets/color/variables.css';
.section_light_bg {
	background-color: #ffffff;
}

.banner_section {
    padding: 100px 0 !important;
}

img {
  width: 400px
}

.banner_text h1,
.v_light .banner_text h3 {
	color: var(--theme-main-color);
	font-size: 2.2rem;
}

.banner_text span {
  color: #000000 !important;
}
